---
title: Info
name: info
---
{{#extend "base"}}
  {{#content "content"}}

    <div class="info-container">
      <span>Welcome.</span>
      <p>All of the acrylic paintings on this website are one of a kind and made by hand. </p>
      <p>Paintings with a price are available for purchase. Paintings marked as sold are no longer available.  </p>
      <p>If you are interested in purchasing one or having a painting commisioned, please reach out to me via the contact button and I will get back to you as soon as possible.</p>
    </div>

  {{/content}}
{{/extend}}