form {
  mat-form-field {
    width: 100%;
  }
}

.sold-control {
  margin: 25px 0;
}

.upload-controls {
  margin-bottom: 25px;
  display: flex;
  button {
    position: relative;
    max-width: 163px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  button:first-child {
    margin-right: 25px;
  }
  input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 10;
    font-size: 20px;
    cursor: pointer;
    height: 36px;
    opacity: 0;
    filter: alpha(opacity=0);
  }
}


.pure-material-progress-linear {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  height: 0.25em;
  color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  background-color: rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.12);
  font-size: 16px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.pure-material-progress-linear::-webkit-progress-bar {
  background-color: transparent;
}
.pure-material-progress-linear::-webkit-progress-value {
  background-color: currentColor;
  transition: all 0.2s;
}
.pure-material-progress-linear::-moz-progress-bar {
  background-color: currentColor;
  transition: all 0.2s;
}
.pure-material-progress-linear::-ms-fill {
  border: none;
  background-color: currentColor;
  transition: all 0.2s;
}
.pure-material-progress-linear:indeterminate {
  background-size: 200% 100%;
  background-image: linear-gradient(to right, transparent 50%, currentColor 50%, currentColor 60%, transparent 60%, transparent 71.5%, currentColor 71.5%, currentColor 84%, transparent 84%);
  animation: pure-material-progress-linear 2s infinite linear;
}
.pure-material-progress-linear:indeterminate::-moz-progress-bar {
  background-color: transparent;
}
.pure-material-progress-linear:indeterminate::-ms-fill {
  animation-name: none;
}
@keyframes pure-material-progress-linear {
  0% {
      background-size: 200% 100%;
      background-position: left -31.25% top 0%;
  }
  50% {
      background-size: 800% 100%;
      background-position: left -49% top 0%;
  }
  100% {
      background-size: 400% 100%;
      background-position: left -102% top 0%;
  }
}
