<nav class="page-column">
  <img class="logo" src="/assets/images/logo.svg">
  <ul class="menu">
    <li data-page="info"><a href="/info">Info</a></li>
    <li data-page="contact"><a href="/contact">Contact</a></li>
  </ul>
</nav>