<nav>
  <a href="/">
    <img class="logo" src="/assets/images/logo.svg">
  </a>
  <ul class="menu">
    <li data-page="info"><a href="/info">Info</a></li>
    <li data-page="contact"><a href="mailto:boris.crowther@gmail.com">Contact</a></li>
  </ul>
</nav>