.home-page {
  .masonry-wrapper {
    padding: 50px 0;
    margin-right: auto;
    margin-left: auto;
  }
  .masonry {
    columns: 1;
    column-gap: 30px;
  }
  .masonry-item {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 30px;
    img {
      max-width: 100%;
      vertical-align: middle;
    }
  }

  @media only screen and (max-width: 767px) and (min-width: 340px) {  
    .masonry {
      columns: 2;
    }
  }
  @media only screen and (max-width: 1023px) and (min-width: 768px) {  
    .masonry {
      columns: 3;
    }
  }
  @media only screen and (min-width: 1024px) {
    .masonry {
      columns: 4;
    }
  }
}


.lightboxOverlay {
  background-color: #fff !important;
  opacity: 0.97 !important;
}
.lightbox {
  .lb-outerContainer {
    background-color: transparent !important;
  }
  .lb-image {
    border-radius: 0 !important;
    border: 0 !important;
  }
  .lb-nav {
    a {
      display: block !important;
      opacity: 1 !important;
      width: 20px !important;
      height: 20px;
      float: none;
      position: absolute;
      bottom: -65px;
    }
    .lb-prev {
      background-image: url(/assets/images/arrow-left.svg);
    }
    .lb-next {
      background-image: url(/assets/images/arrow-right.svg);
    }
  }
  .lb-closeContainer {
    display: none;
  }
  .lb-data .lb-details {
    width: 100% !important;
    float: none !important;
    text-align: center;
    margin-top: 30px;
    .lb-caption {
      color: #000;
      display: block;
      font-size: 20px;
      font-weight: 300;
      line-height: normal;
      position: relative;
      span {
        font-weight: 600;
      }
    }
  }
}