.home-page {
  
  .masonry {
    a {
      // padding: 15px;
      img {
        width: 100%;
        display: block;
        height: auto;
      }
    }
    
  }

}


.lightboxOverlay {
  background-color: #fff !important;
  opacity: 0.97 !important;
}
.lightbox {
  .lb-outerContainer {
    background-color: transparent !important;
  }
  .lb-image {
    border-radius: 0 !important;
    border: 0 !important;
  }
  .lb-nav {
    a {
      display: block !important;
      opacity: 1 !important;
      width: 20px !important;
      height: 20px;
      float: none;
      position: absolute;
      bottom: -65px;
    }
    .lb-prev {
      background-image: url(/assets/images/arrow-left.svg);
    }
    .lb-next {
      background-image: url(/assets/images/arrow-right.svg);
    }
  }
  .lb-closeContainer {
    display: none;
  }
  .lb-data .lb-details {
    width: 100% !important;
    float: none !important;
    text-align: center;
    margin-top: 30px;
    .lb-caption {
      color: #000;
      display: block;
      font-size: 20px;
      font-weight: 300;
      line-height: normal;
      position: relative;
      span {
        font-weight: 600;
      }
    }
  }
}